@import 'compass';

.sidebar {
  background: #ECEFF1;
  padding: 0;

  h6 {
    background: #607D8B;
    color: #ECEFF1;
    padding: 0.4375rem 0.875rem;

    a {
      color: #fff;
      display: block;
      float: right;
      margin-top: 10px;
    }
  }
}

$color-palette: (#F44336, #E91E63, #9C27B0, #FFEB3B, #4CAF50);

@for $i from 1 through length($color-palette) {
  .blend-text-#{$i} {
    $color: nth($color-palette, $i);
    background-color: $color;
    @include background-image(linear-gradient(to right,
      $color,
      adjust-hue($color, 15deg),
      adjust-hue($color, 30deg),
      adjust-hue($color, 45deg),
      adjust-hue($color, 60deg),
      adjust-hue($color, 75deg),
      adjust-hue($color, 90deg),
      adjust-hue($color, 105deg),
      adjust-hue($color, 120deg),
      adjust-hue($color, 135deg),
      adjust-hue($color, 150deg),
      adjust-hue($color, 165deg),
      adjust-hue($color, 180deg)
    ));
  }
}

.blend-text {
  padding: 10px;

  span { color: #fff; }
}

.text-on-image {
  width: 100%;
  height: 500px;
  text-align: center;
  font-size: 150px;
  font-weight: bold;
  text-transform: uppercase;
  background: url('http://lorempixel.com/500/500');
  background-size: cover;
  padding-top: 200px;
  margin-top: 20px;

  span { color: #fff; }
}
