@import 'compass';

.sidebar {
  background: #ECEFF1;
  padding: 0;

  h6 {
    background: #607D8B;
    color: #ECEFF1;
    padding: 0.4375rem 0.875rem;

    a {
      color: #fff;
      display: block;
      float: right;
      margin-top: 10px;
    }
  }
}

$color-palette: (
  #F44336, #E91E63, #9C27B0,
  #673AB7, #3F51B5, #2196F3,
  #03A9F4, #00BCD4, #009688,
  #4CAF50, #8BC34A, #CDDC39,
  #FFEB3B, #FFC107, #FF9800,
  #FF5722, #795548, #9E9E9E,
  #607D8B
);

@for $i from 1 through length($color-palette) {
  .blend-text-#{$i} {
    $color: nth($color-palette, $i);
    background-color: $color;
    @include background-image(linear-gradient(to right, lighten($color, 30%), $color, darken($color, 30%)));
  }
}

.blend-text {
  padding: 10px;

  span { color: #fff; }
}
