@import 'compass';

.sidebar {
  background: #ECEFF1;
  padding: 0;

  h6 {
    background: #607D8B;
    color: #ECEFF1;
    padding: 0.4375rem 0.875rem;

    a {
      color: #fff;
      display: block;
      float: right;
      margin-top: 10px;
    }
  }
}

$color-palette: (#F44336, #E91E63, #9C27B0);

@for $i from 1 through length($color-palette) {
  .blend-text-#{$i} {
    $color: nth($color-palette, $i);
    background-color: $color;
    @include background-image(linear-gradient(to right,
      $color,
      adjust-hue($color, 15deg),
      adjust-hue($color, 30deg),
      adjust-hue($color, 45deg),
      adjust-hue($color, 60deg),
      adjust-hue($color, 75deg),
      adjust-hue($color, 90deg),
      adjust-hue($color, 105deg),
      adjust-hue($color, 120deg),
      adjust-hue($color, 135deg),
      adjust-hue($color, 150deg),
      adjust-hue($color, 165deg),
      adjust-hue($color, 180deg)
    ));
  }
}

.font-color-sample {
  width: 100px;
  height: 100px;
  background: #fff;
}

.blend-text {
  padding: 10px;

  span {
    color: #fff;
    font-weight: bold;
  }
}

.image-container {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  background: url('http://lorempixel.com/500/250');
  background-size: cover;

  @media screen and (min-width: 768px) {
    font-size: 150px;
    height: 220px;
  }
}

.image-text { color: #fff; }
